/* color bg of context menu */
menupopup {
  --panel-background: linear-gradient(var(--lwt-accent-color), black) !important;
  --panel-color: whitesmoke !important;
  --panel-border-color: rbg(0,0,0) !important;
}
/* color fg of context menu */
menupopup > menuitem[_moz-menuactive="true"]:not([disabled]),
menupopup > menu[_moz-menuactive="true"]:not([disabled]),
#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]) > .menu-iconic-left > .menu-iconic-icon{
  background: var(--lwt-accent-color) !important;
  color: whitesmoke !important;
  filter: brightness(1.2);
}
/* style text */
menupopup > menuitem, menupopup > menu, 
menupopup > menucaption, menupopup > menuseparator {
    font-family: JetBrains Mono;
    margin-inline: 0px !important;
}
/* remove seperator */
menupopup menuseparator {
    display: none;
}