:root {
    --sidebar-shown: 34px; /* size of pinned tabs */
    --sidebar-width: 230px; /* fixed width of panel */
    --sidebar-height: 100vh;
}

/* --------Sidebery Auto-hiding Sidebar ----------- */
/* hides panel by pushing it off screen */
#main-window:not([extradragspace="true"])
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
    position: fixed;
    left: calc(-1 * var(--sidebar-width) + var(--sidebar-shown));
    z-index: 1;
    transition: all 0.2s ease-in-out; 
}

/* moves panel back to 0 on hover */
#main-window:not([extradragspace="true"])
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]):hover {
    position: fixed;
    left: 0px;
    z-index: 1;
}

/* fixed width of each tab. does not change */
#main-window:not([extradragspace="true"])
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"],
#main-window:not([extradragspace="true"]) 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar {
  width: var(--sidebar-width) !important;
}

/* adjust if your sidebery is not tall enough */
#main-window:not([extradragspace="true"])[inFullscreen]
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"],
#main-window:not([extradragspace="true"])
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
    height: var(--sidebar-height);
}
